<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../static/main.css" />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Students Rating Table</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="active"><a href="/students/list">Students</a></li>
                <li class="active"><a href="/courses/list">Courses</a></li>
                <li class="active"><a href="/rating">Students Rating</a></li>
            </ul>
        </div>
    </div>
</nav>

<h2>Courses</h2>

<table id="students" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Name</th>
        <th style="width: 200px;">Credit</th>
        <th style="width: 200px;">id</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.name}"/>
        <td th:text="${course.credit}"/>
        <td th:text="${course.id}"/>
    </tr>
    </tbody>
</table>

</body>
</html>